.slide-wrapper {position: relative; overflow: hidden; border-top: 2px solid red; border-bottom: 2px solid red;}
.slide-wrapper .swiper-wrap {position: relative; z-index: 1;}
.slide-wrapper .swiper-wrap.horizontalType {}
.slide-wrapper .swiper-wrap.verticalType {}
.slide-wrapper .swiper-wrap.fadeType {}
.slide-wrapper .swiper-wrap.fadeType .slide {position: absolute; top: 0; left: 0; width: 100%;}
.slide-wrapper .swiper-wrap.fadeType .slide:first-child {z-index: 1;}