.slide-wrapper {position: relative; overflow: visible; border-top: 2px solid red; border-bottom: 2px solid red;}
.slide-wrapper .swiper-wrap {position: relative; z-index: 1;}
.slide-wrapper .swiper-wrap.horizontal {}
.slide-wrapper .swiper-wrap.vertical {}
.slide-wrapper .swiper-wrap.fade {opacity: 1;}
.slide-wrapper .swiper-wrap.fade .slide {position: absolute; top: 0; left: 0; width: 100%; opacity: 1;}
.slide-wrapper .swiper-wrap.fade .slide:first-child {z-index: 1;}